* {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
}

body {
  background-image: url("./static/background_table.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vh;
}

.app {
  width: 55%;
  height: 90vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 5px 5px black;
  padding: 0 24px;
}

.topnav {
  height: 20%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 50px;
  font-weight: bold;
}

.header {
  height:auto;
  padding-top: 35px;
  padding-left: 15px;
}

.main {
  height: 70%;
}

.thanks {
  font-size: 22px;
  text-align: left;
}

.desc {
  margin-top: 20px;
  font-size: 35px;
}

.time {
  font-weight: bold;
  color: rgb(230, 100, 10);
}

.menu {
  font-size: 25px;
  font-weight: normal;
}

.menu__main {
  color: rgb(100, 100, 200);
}

.menu__auto {
  color: rgb(250, 100, 80);
}

.menu__side {
  color: rgb(177, 100, 200);
}

.display {
  display: flex;
  justify-content: space-between;
}

.selectBox {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.select {
  text-align: center;
  width: 100px;
}

.select img {
  width: 100px;
  height: 100px;
}

.statisticsBox{
  width: 40%;
  padding: 0 5px;
  height: 90vh;
  border-radius: 20px;
  background-color: rgba(120, 90, 70, 0.7);
  box-shadow: 5px 5px 5px black;
}

.footer {
  height: 40px;
}

.btn {
	background-color: #5cb85c;
	color: white;
	border: none;
}
