* {
  font-family: 'Noto Sans KR', serif;
  color: black;
}

body {
  background-image: url("./background_table.png");
  padding: 5vh;
}

.app {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.topnav {
  display: flex;
  height: 10%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 40px;
}

.header {
  height:auto;
}

.main {
  height: 75%;
}

.desc {
  height: 10%;
}

.selectBox {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.select {
  text-align: center;
  width: 100px;
}

.select img {
  width: 100px;
  height: 100px;
}

.footer {
  height: 15%;
}
