* {
  font-family: 'Noto Sans KR', serif;
  color: black;
}

body {
  background-image: url("./background_table.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vh;
}

.app {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 5px 5px 5px black;
}

.topnav {
  display: flex;
  height: 10%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 45px;
  font-weight: bold;
}

.header {
  height:auto;
}

.main {
  height: 75%;
}

.thanks {
  font-size: 24px;
  text-align: center;
}

.desc {
  margin-top: 20px;
  font-size: 20px;
}

.time {
  font-weight: bold;
  color: rgb(230, 100, 10);
}

.menu {
  font-weight: bold;
  color: rgb(100, 100, 200);
}

.selectBox {
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.select {
  text-align: center;
  width: 100px;
}

.select img {
  width: 100px;
  height: 100px;
}

.footer {
  height: 15%;
}
