* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0 16px;
}

#container {
  display: flex;
  width: 100%;
  height: calc(100vh - 21px);
}

#editor-field {
  width: 35%;
}

.editor {
  width: 100%;
  height: 33.33%;
  resize: none;
  outline: none;
}

#display-field {
  width: 65%;
}

#preview-display {
  width: 100%;
  height: 100%;
}
