* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0 16px;
}

#topnav {
  height: 30px;
}

#active-btn {
  padding-top: 5px;
}

.btn {
  background-color: #FFFFFF;
  height: 20px;
}

#btn__html {
  color: red;
}

#btn__js {
  color: #eabf01;
}

#btn__css {
  color: blue;
}

#container {
  display: flex;
  width: 100%;
  height: calc(100vh - 30px);
}

#editor-field {
  width: 35%;
}

.editor {
  display: block;
  width: 100%;
  height: 33.33%;
  resize: none;
  outline: none;
}

#display-field {
  width: 65%;
}

#preview-display {
  width: 100%;
  height: 100%;
}
