@import url(//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas);
@font-face {
  font-family: "Consolas"; 
  src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot");
  src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2") format("woff2"), 
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.svg#Consolas") format("svg"); 
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0 16px;
}

#topnav {
  margin-top: 5px;
}

#active-btn {
  margin-bottom: 5px;
}

.btn {
  height: 30px;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border-width: 2px;
  background-color: #FFFFFF;
}

#btn__html {
  color: red;
  border-color: red;
}

#btn__js {
  color: #eabf01;
  border-color: #eabf01;
}

#btn__css {
  color: blue;
  border-color: blue;
}

#container {
  display: flex;
  width: 100%;
  height: calc(100vh - 40px);
}

#editor-field {
  width: calc(35% - 10px);
  margin-right: 10px;
}

.editor {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Consolas";
  resize: none;
  outline: none;
}

#js-editor {
  display: none;
}

#css-editor {
  display: none;
}

#display-field {
  width: 65%;
}

#preview-display {
  width: 100%;
  height: 100%;
  border-style: outset;
}
