* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  display: flex;
  width: calc(100% - 32px);
  padding: 0 16px;
}

#editor-field {
  width: 35%;
}

#display-field {
  width: auto;
}

