* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0 16px;
}

#topnav {
  margin-top: 5px;
}

#active-btn {
  margin-bottom: 5px;
}

.btn {
  height: 30px;
  padding: 2px 6px;
  font-size: 15px;
  font-weight: bold;
  outline: none;
  border-width: 2px;
  background-color: #FFFFFF;
}

#btn__html {
  color: red;
  border-color: red;
}

#btn__js {
  color: #eabf01;
  border-color: #eabf01;
}

#btn__css {
  color: blue;
  border-color: blue;
}

#btn__change{
  color: #5cb85c;
  border-color: #5cb85c;
  float: right;
}

#container {
  width: 100%;
  height: auto;
}

#editor-field {
  width: 100%;
  margin-right: 10px;
}

.editor {
  display: block;
  width: 100%;
  height: 100%;
  font-family: "Consolas";
  font-size: 14px;
  line-height: 17px;
  white-space: pre-wrap;
  resize: none;
  outline: none;
  border: 2px outset;
}

#js-editor {
  display: none;
}

#css-editor {
  display: none;
}

#display-field {
  width: 100%;
  height: 100vh;
}

#preview-display {
  width: 100%;
  height: 100%;
  border-style: outset;
}
