* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  
}

#editor-field {
  width: 50%;
  display: inline-block;
}

#display-field {
  width: 50%;
  display: inline-block;
}

