* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#container {
  width: calc(100% - 32px);
  padding: 0 16px;
}

#editor-field {
  width: 50%;
  display: inline-block;
}

#display-field {
  width: 50%;
  display: inline-block;
}

